.main {
  padding: 0 40px;
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 40px;
  }
}
